

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Courgette&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Courgette&family=Playfair+Display&family=Yellowtail&display=swap');

.brand-name{
  font-family: 'Yellowtail', cursive;
}

.highlight{
  font-family: 'Courgette', cursive;
}

.box-font{
  font-family: 'Agbalumo', cursive;
}

.category-heading{
  font-family: 'Playfair';
}

.landing-page {
  background-image: url("./newbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* animation: changeBackground 10s infinite;
  transition: background-image 2s ease-in-out; */
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent black background */
  backdrop-filter: blur(5px); /* Apply blur effect to the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure the overlay appears on top of other elements */
}
.auth-graintant {
    /* background-image: url("./Aubergine.jpg"); */
    
     /* background-color: #986904; */
background: #243B55;  /* fallback for old browsers */


  background-size: cover; /* This property makes sure the image covers the entire element */
  background-repeat: no-repeat; /* This property prevents the image from repeating */
  background-position: center center; /* This property centers the image horizontally and vertically */
}

@keyframes changeBackground {
  0%,
  33.33% {
    background-image: url("bg-writer3.png"); /* First image for 1/3 of the animation duration */
  }
  33.34%,
  66.67% {
    background-image: url("bg-photography1.png"); /* Second image for 1/3 of the animation duration */
  }
  66.68%,
  100% {
    background-image: url("bg-it3.png"); /* Third image for 1/3 of the animation duration */
  }
}


textarea:focus{
  padding: 10px;
}

label.cursor-pointer {
  display: inline-block;
  width: 500px;
  height: 100px;
  border: 1px solid #F1F5F9;
  color: #F1F5F9;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Change label background color on hover */
label.cursor-pointer:hover {
  background-color: rgb(100, 126, 183);
}

option {
padding:10px;
}

#popover #explore-popover{
  z-index: 2;
}

#explore-popover .popover-item{
  padding: 8px;
}





.gradient-username{
  background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.zindex-custom-3{
  z-index: 3;
}

.zindex-custom{
  z-index: 1;
}

th{
  @apply text-center;
}

th{
  font-size: large;
}

td{
  @apply text-center;
}

td{
  font-size: medium;
}

.deleteIconRed{
  fill :red;
 height: 20px;
 width: 20px; 
}

#editBtn{
  fill: white(135, 238, 247);
  height: 20px;
 width: 20px; 
}

th{
  @apply text-teal-700
}

.blur-background {
  width: 100vw;
  height: 100vh;
 background: #E6DADA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #5d97a6, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #4e7e8a, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
  color: white; /* Text color on the blurred background */
}

.card-child{
  transition: all 0.8s;
}

.card-parent:hover .card-child{
  transform: scale(1.2);  
}

.card-parent:hover .card-overlay{
  @apply opacity-70;
  z-index: 2;
}

.zindex-custom-2{
  z-index: 3;
}


.landing-page-container {
  position: relative;
  
}

@media only screen and (max-width: 1600px){
  .landing-page-container {
    height: 200vh;
  } 
}


/* @media(max-width: 1600px){
  .landing-page-container {
    
    height: 200vh;
  }
}  */


.landing-image {
  background-image: url('./newbg.jpg'); /* Replace 'path/to/your-background-image.jpg' with the actual path to your background image */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: -1;
}


.black-sheet {
  background-color: rgba(0, 0, 0, 0.4); 
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 0; 
}

.white-sheet {
  background-color: rgba(229, 228, 228, 0.1); 
  z-index: 2; 
}

.landing-page-arrow{
  z-index: 3;
  border-radius: 50%;
  animation: scaleAnimation 4s infinite ease-in-out;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
    filter: blur(0);
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
  }
  50% {
    transform: scale(1.2);
    filter: blur(1px);
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.7);
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
  }
}













