.landing-page{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     animation: changeBackground 6s infinite; 
   
}

 @keyframes changeBackground {
            0% {
                background-image: url('bg-writer1.png'); /* First image */
            }
            50% {
                background-image: url('bg-writer1.png'); /* Second image */
            }
            100% {
                background-image: url('bg-writer1.png'); /* Third image */
            }
        }